@font-face {
    src: url(fonts/Mainstay.ttf);
    font-family: nos;
}

@font-face {
    src: url(fonts/Evil-Empire.otf);
    font-family: evil;
}

@font-face {
    src: url(fonts/Gloom.ttf);
    font-family: gloom;
}

p {
    margin: 0px 0px;
    color: #EAD32B;
}


.Home {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    background-color: linear-gradient(90deg, #4DBD95 50%, #EAD32B 50%);
    background-image: linear-gradient(90deg, #4DBD95 50%, #EAD32B 50%);
    padding-left: 128px;
    padding-right: 128px;
    height: 100%;
    overflow: hidden;
}

.content {
    margin-left: 1%;
    z-index: 1;
    justify-content: space-between;
}

.titleHome {
    font-family: evil;
    font-size: 210px;
}

.titleHomeChild {
    font-family: evil;
    font-size: 64px;
}

.titleDescription {
    font-family: evil;
    padding: 64px 0px;
    font-size: 32px;
}

.centerImage {
    height: 100%;
    width: 100%;
    display: flex;
    justify-self: center;
    align-content: center;
    z-index: 1;
}

.tapeImage {
    position: absolute;
    padding-top: 5%;
    padding-left: 30%;
    width: 45%;
    height:90%;
}


.watermark {
    padding-bottom: 64px;
    font-size: 24px;
    text-align: center;
    font-family: 'Open Sans';
}

.watermark p {
    color: white;
}

.buttonLogin {
    background-color: #EAD32B;
    border-color: white;
    font-family: evil;
    color: #319741;
}

