.container {
  background-color: #EAD32B;
  height: 100vh;
  width: auto;
}

.header{
  padding:0px 36px;
  padding-top: 32px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.headerButton {
  display: flex;
}

.bodySpotify {
  height: 70%;
  padding:0px 36px;
}

.create-playlist {
  flex-direction: column;
  display: flex;
  margin: 16px auto;
}

.spotify-track {
  flex-direction: column;
  display: flex;
  margin-top: 7%;
}

input[type="text"] {
  width: 30vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 10px;
  padding: 15px 15px;
  background-color: #4DBD95;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: white;
}

button:hover {
  box-shadow: 0 6px 16px 0 rgba(37, 37, 37, 0.19),
    0 17px 20px 0 rgba(37, 37, 37, 0.19);
  background-color: #6dc870;
}

.playlistTrack {
  margin-left: 250px;
}

.playlistTrack p {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.searchTitle {
  font-size: 48px;
  color: white;
  font-weight: 600;
}

.listOf-track {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.searchBar {
  flex-direction: row;
  display: flex;
}

.emptyResult {
  font-size: 48px;
  color: white;
  text-align: center;
  font-weight: 600;
}

.createTitle {
  font-size: 24px;
  color: white;
  font-weight: 600;
}

.searchResult {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-right: 30px;
}

.playBar {
  color: white;
  right: 30px;
  height: 12%;
  text-align: center;
  background-color: #3d3d3d;
  justify-content: center;
  display: flex;
}

.playBarComponent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.newRelease {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 409px;
}