
.songInformation {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    align-self: center;
    text-align: center;
    padding-left: 5%;
}

.songImage {
    width: 14%; 
    height: 14%;
}