#root {
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  flex-direction: column;
  /* background: linear-gradient(#490E0F,#121212); */
  /* background-color: #EAD32B; */
}

